<div id="{{ id }}">
  <iframe
    src="{{ resourceUrl('/svgeditor/html/blank.html') }}"
    data-src="{{ iframeSrc }}"
    width="100%"
    height="{{ iframeHeight }}px"
  >
  </iframe>
  <textarea class="hidden" name="{{ name }}">{{ value }}</textarea>
</div>
